body{
position: relative;
font-family: "Josefin Sans";
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/josefin-sans-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/josefin-sans-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-500 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('fonts/josefin-sans-v23-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/josefin-sans-v23-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('fonts/josefin-sans-v23-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/josefin-sans-v23-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/josefin-sans-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/josefin-sans-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1{
font-size: 80px;
font-style: bolder;
margin-top: -50px;
padding-top: 100px;
z-index: 2;
}

h2{
font-size: 35px;
scroll-margin-top: 10rem;
}

h3{
font-size: 16px;
}

h4{
font-size: 14px;
font-weight: normal;
}

h5{
font-size: 24px;
padding-bottom: 10px;
}

h6{
font-size: 16px;
}

h7{
  font-size: 80px;
font-style: bolder;
margin-top: -50px;
padding-top: 50px;
z-index: 2;
color: #4923B4;
}

p1{
text-decoration: none;
}


.Logo {
  padding: 10px;
/*   max-width: 40%;
  max-height: 40%; */
}

ul{
  display: inline-block;
  list-style-type: disc;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

li {
    display: list-item;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {

}
a:active {

}

.Full_Page {

}

.Navbar{
  position: sticky;
  top: 0;
  z-index: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: white;
    background-color: #5989b0;
    text-align: right;
}

.nav-link{
  color: white;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow:1px 1px 2px #000;
}

.nav-link:hover{
  color: #6b48cc;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
}

nav li {
    display: inline-block;
    height: 100%;
    padding: 25px;
}

img {
scroll-margin-top: 12rem;
max-width: 100%; height: auto;
}


header{
  position: relative;
  min-height: 65vh;
}

#background-video {
  width: 99.1vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.Title{
 text-align: center;
}


.MainText{

  font-size: 25px;
  text-align: center;
  margin-top: 32px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 93px;
}

#book-tickets{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-color: #4923B4;
  border-radius: 20px;
  text-shadow:1px 1px 2px #000;
}

#watch-video{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-color: #2378b4;
  border-radius: 20px;
  text-shadow:1px 1px 2px #000;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.col {
  flex: 1;
  width: 32%;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
  padding: 20px;
}

.project-area{
  margin-top: -48px;
  padding-bottom: 90px;
  background-color: #2378b4;

}

.Projects{
grid-row: 1 / span 3;
margin-top: 46px;
margin-bottom: 80px;
text-align: center;
}

.Projects h2{
  padding-top: 75px;
  margin-bottom: 50px;
  color: white;
  text-shadow:1px 1px 2px #000;
}

.Projects h3{
  margin-top: 10px;
}

.Projects h4{
margin-bottom: 12px;
}

.Projects h6{
margin-bottom: 40px;
color: white;
text-shadow:1px 1px 2px #000;
}

.Projects p{
margin-bottom: 40px;
}

.btn h3{
color: white;
}

.btn h4{
color: white;
}

#btn-project {
background-color: #414141;
padding-top: 12px;
box-shadow:2px 2px 15px #000;
}

#btn-video {
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
border-color: #414141;
border-radius: 4px;
box-shadow:2px 2px 15px #000;
}

#btn-event {
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
border-color: #414141;
border-radius: 4px;
box-shadow:2px 2px 15px #000;
}


#btn-team {
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
}

.modal-title{

}

.modal-subheader{
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.modal-subheader-team{
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.carousel{
width: 800px;
margin: auto;
}

.modal-body{
  text-align: left;
}

.modal-body-video{
  text-align: center;
}

.modal-body-event{
  text-align: center;
}

.modal-body-team{
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.member-img{
  margin-right: auto;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.member-info {
    display: flex;
    align-items:center;
}

#skills li {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-right: 60px;
  padding-bottom: 8px;
}

.AboutTeam{
margin-top: 90px;
margin-bottom: 40px;
text-align: center;
}

.team-area{
  padding-bottom: 90px;
  background-color: #253286;
}

.TeamVid{

}

.TeamVid img{
  display: block;
  margin: 0 auto;
}


.TeamMembers{
  margin-top: 90px;
  padding-top: 90px;
  padding-bottom: 40px;
  text-align: center;
}

.TeamMembers h2{
  color: white;
  text-shadow:1px 1px 2px #000;
  margin-bottom: 40px;
}

.row{
  margin-bottom: 24px;
}

.single-team{
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow:2px 2px 15px #000;
}

.team-img{
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.team-img img{
  width: 100%;
  transition: .3s;
}
.single-team:hover .team-img img {
  transform: scale(1.1);
}
.team-content {
  height: 72px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: all .4s;
  background: #5633c3;
  z-index:5;
}
.single-team:hover .team-content{
  height: 140px;
}
.team-info {
  padding: 2px 7px 2px 7px;
  transition: all .5s;
}
.single-team:hover .team-content{
  background: #000;
}
.single-team .team-content .team-info h3 {
  color: white;
  font-size: 17px;
  margin: 5px;
  text-shadow:1px 1px 2px #000;
}
.single-team:hover .team-info h3{
  color: #5633c3;
}
.team-info p {
  margin-top: 15px;
  color: white;
  text-shadow:1px 1px 2px #000;
}
.single-team:hover .team-info p{
  color: #fff;
}
.single-team-text p{
  margin-top: 5px;
}
.team-text {
  color: #fff;
  padding: 0 10px 5px;
}

.date {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.EventDetails {
padding-top: 50px;
margin-bottom: 40px;
text-align: justify;
width: 75%;
align-content: center;
margin: auto;
background-color: #65DDF3;
}

.EventDetailsbg {
width: 100%;
background-color: #65DDF3;
padding-bottom: 120px;
text-align: center;
padding-top: 50px;
}

#EventDetailQ {
color: #4923B4;
}

.accordion-button {
/* background-color: light-gray;
color: gray; */
cursor pointer;
padding 18px;
text-align: left;
border: none;
outline: none;
transition: 0.4s;
}

.accordion-body {
padding: 18px;
}

.Contact {
height: 330px;
margin-bottom: 0px;
text-align: center;
background-color: #50a3de;
padding: 15px;
width: 100%;
float: left;
}

.Newsletter {
height: 330px;
margin-bottom: 0px;
text-align: center;
background-color: #815bec;
padding: 15px;
width: 100%;
float: right;
}

textarea {
font-size: 20px;
text-align: center;
align-content: center;
resize: none;
}

#contact_name {
width: 25%;
/* float: left; */
display: inline-block;
}

#contact_email {
width: 25%;
/* float: right; */
display: inline-block;
}

#message {
width: 50%;
}

#submit {
width: 25%;
}

#newsletter_email {
width: 50%;
}

#signup {
width: 25%;
}

.ScrollToTopBtn{
margin-bottom:20px;
}

.ScrolltoTop {
bottom: 20px;
right: 30px;
background-color: #3D3D3D;
padding: 15px;
color: white;
opacity: 0.6;
float: right;
text-align: center;
position: fixed;
z-index: 1;
}

.ScrolltoTop:hover {
opacity: 1.0;
text-decoration: none;
color: (255,255,255,0.6);
}

.Footer {
  clear: both;
  position: relative;
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  text-align: right;
  background-color: #414141;
  text-decoration: none;
}

.FooterText {
 font-size: 15px;
 color: #C4C4C4;
}

.UniLink {
  text-decoration: none;
}

.SocialMedia{
bottom: 50px;
/* background-color: gray; */
/* padding: 15px 0; */
float: right;
margin-top: 50px;
margin-bottom: -50px;
}
