
body{
position: relative;

}


h1{
font-size: 115px;
font-style: bolder;
}

h2{
font-size: 35px;
scroll-margin-top: 10rem;
}

h3{
font-size: 16px;
}

h4{
font-size: 14px;
font-weight: normal;
}

h5{
  font-color:red;
}
p1{

}


.Logo {
  padding: 5px;
/*   max-width: 40%;
  max-height: 40%; */
}



ul{
  list-style-type: none;
  list-style-type:
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.Full_Page {

}


.Navbar{
  position: sticky;
  top: 0;
  z-index: 500;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link{
  color: black;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
}

.nav-link:hover{
  color: darkgray;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
}


nav li {
    display: inline-block;
    height: 100%;
    padding: 25px;
}

img {
  scroll-margin-top: 12rem;
}

.Title{
 text-align: center;
}


.Tagline{

  font-size: 28px;
  font-weight: bold;
  text-align: center;
}


.MainText{

  font-size: 25px;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 93px;
}

/* .Showreel{
margin-top: 90px;
text-align: center;
}

.Event{
margin-top: 90px;
text-align: center;
} */


.Projects{
grid-row: 1 / span 3;
margin-top: 90px;
margin-bottom: 40px;
text-align: center;
}

.Projects h2{
  margin-bottom: 17px;
}

.Projects h3{
  margin-top: 10px;
}

.Projects h4{
margin-bottom: 12px;
}

.Projects p{
margin-bottom: 40px;
}


.AboutTeam{
margin-top: 90px;
margin-bottom: 40px;
text-align: center;
}

.TeamVid{

}

.TeamVid img{
  display: block;
  margin: 0 auto;
}


.TeamMembers{
  margin-top: 90px;
  margin-bottom: 40px;
  text-align: center;
}

.row{
  margin-bottom: 24px;
}

.single-team{
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow:2px 2px 15px #000;
}

.team-img{
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.team-img img{
  width: 100%;
  transition: .3s;
}
.single-team:hover .team-img img {
  transform: scale(1.1);
}
.team-content {
  height: 80px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: all .4s;
  background: MediumPurple;
  z-index:5;
}
.single-team:hover .team-content{
  height: 150px;
}
.team-info {
  padding: 5px 20px 5px 20px;
  transition: all .5s;
}
.single-team:hover .team-content{
  background: #000;
}
.single-team .team-content .team-info h3 {
  color: #fff;
  font-size: 17px;
  margin: 5px;
}
.single-team:hover .team-info h3{
  color: MediumPurple;
}
.team-info p {
  margin-top: 15px;
  color: #fff;
}
.single-team-text p{
  margin-top: 5px;
}
.team-text {
  color: #fff;
  padding: 0 10px 5px;
}

.FAQ {
margin-top: 90px;
margin-bottom: 40px;
text-align: center;
}

.Contact {
margin-top: 90px;
margin-bottom: 40px;
text-align: center;
background-color: #BBF3FF;
padding: 15px;
}

.ScrolltoTop {
bottom: 20px;
right: 30px;
background-color: grey;
padding: 15px;
color: white;
opacity: 0.6;
align: right;
text-align: center;
}

.ScrolltoTop:hover {
opacity: 1.0;
text-decoration: none;
color: (255,255,255,0.6);
}

.Footer {
/* margin-top: 100px; */
text-align: right;
font-size: 15px;
font-color: white;
background-color: #424242;
height: 150px;
}

.UniLink {
  text-decoration: none;
}

.SocialMedia{

}

