
body{

}

h1{
font-size: 115px;
font-style: bold;
}

h2{
font-size: 35px;
}

p1{

}

ul{
  list-style-type: none;
  list-style-type:
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.Full_Page {

}

.Navbar{

}

.nav-link{
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
}

nav li {
    display: inline-block;
    height: 100%;
    padding: 25px;
}

.Links{

}

div#links_div {
    float:left;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

div#links_div .ul {
    margin: 0;
    padding: 0;
}

div#links_div .li {
    display: inline;
}

.Title{
 text-align: center;
}

.Tagline{

  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.MainText{

  font-size: 25px;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

.AboutTeam{
margin-top: 90px;
margin-bottom: 15px;
text-align: center;
}

.TeamVid{
margin: 0 auto;
}

.Event{
margin-top: 90px;
text-align: center;
}

.Showreel{
margin-top: 90px;
text-align: center;
}

.ShowcaseVid{
margin: 0 auto;
}

.SocialMedia{

}

.Iconbar{

}

.Projects{

}

.TeamVid{

}

.Team{

}

.FAQ{

}

.Contact{

}

.Footer{

}
